#inp {
    position: relative;
    display: block;
    top: 1%;
    left: 10%;
    width: 80%;
    height: 8%;
    text-align: center;
}
#result {
    position: relative;
    display: block;
    top: 2%;
    left: 10%;
    width: 82%;
    height: 8%;
    background-color: lightgray;
    text-align: center;
    line-height: 45px;
}
#calc {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
    width: 400px;
    height: 600px;
}
#buttons {
    position: absolute;
    display: block;
    bottom: 3px;
    height: 75%;
    width: 100%;
}
.row {
    height: 20%;
    width:100%;
}
.sing {
    font-size: 25px;
    margin-left:4px;
    width: 18%;
    height: 90%;
}
.double {
    font-size: 25px;
    margin-left:4px;
    width: 38%;
    height: 90%;  
}